<div>
  <div class="pointer-container">
    <button type="submit" class= "pointer-next" id="pointer"><%= link_to "I WANT A VENUE", venues_path %></button>
    <button type="submit" class= "pointer-next" id="pointer"><%= link_to "I WANT A CATERER", caterings_path %></button>
    <button type="submit" class= "pointer-next" id="pointer"><%= link_to "I WANT AN EXTRA", bookings_path %></button>
  </div>
</div>

<div class="booking-index-page">
  <h1>Upcoming Venue Bookings</h1>
  <div class="row">
    <% @bookings.each do |booking|%>
    <div class="col-md-4">
    <div class="bookings-container">
      <div class="booking-image" style="background-image: url(<%= booking.venue.picture %>)">
      </div>
      <div class="booking-details">
        <p>
          <%= booking.check_in_date_time %>
          <%= booking.check_out_date_time %>
        </p>

        <h1>
            <%= booking.venue.name  %>
        </h1>

        <p class="description"><%= booking.venue.description %></p>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>
