  <div class="filters">
    <button type="submit" class="btn btn-white btn-submit-filter">DATES</button>
    <button type="submit" class="btn btn-white btn-submit-filter">GUESTS</button>
    <button type="submit" class="btn btn-white btn-submit-filter">MORE FILTERS</button>
  </div>

<div class="index-container">

  <div id="listings">
    <% @venues.each do |venue| %>
    <%= link_to venue_path(venue) do %>
    <div class="venue-card">
      <div class="index-image" style="background-image: url(<%= venue.picture%> )"></div>
      <div class="card-product-info">
          <h2><%= venue.name %></h2>
          <h3><%= venue.capacity %> Guests</h3>
          <p>$<%= venue.price_per_hour %>/hr</p>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
  <div id="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
